{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="container">
        <div class="block-header">
            <div class="row clearfix">
                {#                <div class="col-lg-5 col-md-5 col-sm-12">#}
                {#                    <h2>Latest Forum Questions</h2>#}
                {#                </div>#}
                {#                <div class="col-lg-7 col-md-7 col-sm-12">#}
                {#                    <ul class="breadcrumb float-md-right padding-0">#}
                {#                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>#}
                {#                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>#}
                {#                        <li class="breadcrumb-item active">Projects List</li>#}
                {#                    </ul>#}
                {#                </div>#}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="body project_report">
                        <div class="table-responsive">
                            <table class="table m-b-0 table-hover">
                                <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Question</th>
                                    <th>Topic</th>
                                    <th>Owner</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question in questions %}
                                    <tr>
                                        <td>
                                            <span class="badge badge-{{ question.status }}">{{ question.get_status_display }}</span>
                                        </td>
                                        <td class="project-title">
                                            <h6><a href="#">{{ question.title }}</a></h6>
                                            <small>Created {{ question.created | date }}</small>
                                        </td>
                                        <td>
                                            {{ question.topic }}
                                        </td>
                                        <td>
                                            {{ question.user }}
                                        </td>
                                        <td class="project-actions">
                                            <a href="{% url 'forums:question-slug' question.slug %}" class="btn btn-neutral btn-sm"><i class="zmdi zmdi-eye"></i></a>
                                            <a href="#" class="btn btn-neutral btn-sm"><i
                                                    class="zmdi zmdi-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}